<header>
    <div id="first-level-header">
        <h1>Développeur Web <br/> FullStack</h1>
        <nav>
            <ul>
                <li><span class="white-circle-nav">●</span><span class="li-content-nav">PROJETS</span></li>
                <li><span class="white-circle-nav">●</span><span class="li-content-nav">COMPETENCES</span></li>
                <li><span class="white-circle-nav">●</span><span class="li-content-nav">MOI PLUS EN DETAILS</span></li>
                <li><span class="white-circle-nav">●</span><span class="li-content-nav">ON PREND CONTACT ?</span></li>
                <li id="last-line-nav"><span class="white-circle-nav">●</span><span class="li-content-nav">MON CV</span></li>
            </ul>
        </nav>
    </div>
    <div id="second-level-header">
        <h2>Edouard<br/>Seibel</h2>

        <div id="box-text-header" text-align="center">
            <p>Développeur web FullStack à votre service ! Pour une embauche directe ou en freelance, je me ferais un plaisir de vous aider. Développement d'un site ou d'une application web ou mobile, en partant d'un design pré-établi ou en concevant la maquette moi-même, c'est vous qui décidez. Pour du front-end, du back-end ou des branchements, je peux aussi !</p>
        </div>
</div>
</header>