<header>
    <h1>Développeur Web <br/> FullStack</h1>
    <nav>
        <ul>
            <li><span class="white-circle-nav">●</span><span class="li-content-nav">PROJETS</span></li>
            <li><span class="white-circle-nav">●</span><span class="li-content-nav">COMPETENCES</span></li>
            <li><span class="white-circle-nav">●</span><span class="li-content-nav">MOI PLUS <br/> EN DETAILS</span></li>
            <li><span class="white-circle-nav">●</span><span class="li-content-nav">ON PREND <br/>CONTACT ?</span></li>
            <li><span class="white-circle-nav">●</span><span class="li-content-nav">MON CV</span></li>
        </ul>
    </nav>
    
    <h2>
        <span class="letter-apart-top">E</span>
        <span class="letter-apart-top">D</span>
        <span class="letter-apart-top">O</span>
        <span class="letter-apart-top">U</span>
        <span class="letter-apart-top">A</span>
        <span class="letter-apart-top">R</span>
        <span class="letter-apart-top">D</span>
        <br/>
        <span class="letter-apart">S</span>
        <span class="letter-apart">E</span>
        <span class="letter-apart">I</span>
        <span class="letter-apart">B</span>
        <span class="letter-apart">E</span>
        <span class="letter-apart">L</span>
    </h2>

    <div id="box-text-header" text-align="center">
            <p>Développeur web FullStack à votre service ! Pour une embauche directe ou en freelance, je me ferais un plaisir de vous aider. Développement d'un site ou d'une application web ou mobile, en partant d'un design pré-établi ou en concevant la maquette moi-même, c'est vous qui décidez. Pour du front-end, du back-end ou des branchements, je peux aussi !</p>
    </div>
</header>