
header {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(38deg, #dcd9c1 53%, #f36531 47%);
    display: grid;
    grid-template-rows: 45% 20% 30% 5%;
    grid-template-columns: 40% 15% 45%;
}

h1 {
    color: #241f1f;
    font-size: 5em;
    margin: 1em;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: end;
    position: relative;
}

nav {
    display: flex;
    justify-self: start;
    grid-column: 3 / 4;
    height: 100%;
    width: 100%;
}

ul {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    align-self: center;
    height: 60%;
    width: 60%;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    color: #dcd9c1;
    font-weight:500;
    max-height: 10px;
}

.white-circle-nav {
    font-size: 7em;
    padding: 0;
    margin: 0;
}

.li-content-nav {
    position: relative;
    top: 0.4em;
}

#last-line-nav {
    grid-column: 1 / 3;
    justify-self: end;
}

h2 {
    color: #f6f6f6;
    justify-self: start;
    font-size: 4em;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
    position: relative;
    top: 0.3em;


}

.letter-apart, .letter-apart-top {
    margin: 0 1px;
}

.letter-apart {
    position: relative;
    bottom: 0.7em;
}
#box-text-header {
    background-color: #f6f6f6;
    color: #f36531;
    text-align: justify;
    padding: 15px;
    grid-column: 2/4;
    grid-row: 3/4;
    width: 50%;
    align-self: end;
    justify-self: start;

}