<header>
    <h1 id="ecoute">Développeur Web FullStack</h1>
    <h1>Développeur Web FullStack</h1>
    <nav>
        <li>Projets</li>
        <li>Compétences</li>
        <li>Moi plus en détails</li>
        <li>On prend contact ?</li>
        <li>Télécharger mon CV</li>

    </nav>
    <h2>Edouard Seibel</h2>

    <div class="box-text-header" text-align="center">
        <p>Développeur web FullStack à votre service ! Pour une embauche directe ou en freelance, je me ferais un plaisir de vous aider. Développement d'un site ou d'une application web ou mobile, en partant d'un design pré-établi ou en concevant la maquette moi-même, c'est vous qui décidez. Pour du front-end, du back-end ou des branchements, je peux aussi !</p>
    </div>
</header>