<div id="contact-form">
    <div id="contact-form-title">
        <h2>{{ "TITLE-FORM" | translate }}</h2>
        <h3>{{ "SUBTITLE-FORM" | translate }}</h3>
    </div>
    <div id="contact-dashboards">

        <div id="contact-details">
            <h4>{{ "FORM-CONTACT-DETAILS" | translate }}</h4>
            <a class="line-contact" href="tel:+33643064969">
                <img [src]="whatIsTheme('phone-logo.png')" alt="Logo pour le téléphone" />
                06 43 06 49 69</a>

            <a class="line-contact" href="mailto:seibeledouard@yahoo.fr">
            <img [src]="whatIsTheme('mail-logo.png')" alt="Logo pour le mail" />
            seibeledouard&#64;yahoo.fr</a>

            <a class="line-contact" href="https://www.linkedin.com/in/edouard-seibel" target="_blank">
                <img [src]="whatIsTheme('linkedin-logo.png')" alt="Logo de Linkedin" />
                {{ "FORM-LINKEDIN" | translate }}</a>

                <a class="line-contact" href="https://github.com/EdFino" target="_blank">
                <img [src]="whatIsTheme('github-logo.png')" alt="Logo de Github" />
                {{ "FORM-GITHUB" | translate }}</a>

        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <legend>{{ "TITLE-OF-FORM" | translate }}</legend>
            <div id="form-body">
                <div id="form-first-part">
                    <div class="input-form">
                        <label for="name">{{ "FORM-NAME" | translate }}</label>
                        <input id="name" formControlName="name" required>
                        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
                            <span class="error-form">{{ "FORM-NAME-ERROR" | translate }}</span>
                        </div>
                    </div>
                    <div class="input-form">
                        <label for="email">{{ "FORM-EMAIL" | translate }}</label>
                        <input id="email" type="email" formControlName="email" required>
                        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                            <span class="error-form">{{ "FORM-EMAIL-ERROR" | translate }}</span>
                        </div>
                    </div>
                </div>

                <div id="form-second-part">
                    <div class="input-form">
                        <label for="message">{{ "FORM-MESSAGE" | translate }}</label>
                        <textarea [placeholder]="'FORM-PLACEHOLDER' | translate" id="message" formControlName="message" required></textarea>
                        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
                            <span class="error-form">{{ "FORM-MESSAGE-ERROR" | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="contactForm.invalid">{{ "FORM-BUTTON" | translate }}</button>
          </form>
    </div>
</div>