<div id="contact-form">
    <h2>Contactez-moi !</h2>
    <h3>Vous avez des questions, des envies, des projets ?</h3>

    <div id="contact-dashboards">

        <div id="contact-details">
            <h3>Mes coordonnées</h3>
            <div class="line-contact">
                <img src="assets/images/logos/phone-logo.png" alt="Logo pour le téléphone" />
                <a href="tel:+33643064969">06 43 06 49 69</a>
            </div>
            <div class="line-contact">
            <img src="assets/images/logos/mail-logo.png" alt="Logo pour le mail" />
            <a href="mailto:seibeledouard@yahoo.fr">seibeledouard&#64;yahoo.fr</a>
            </div>

            <div id="icon-contact">
                <img src="assets/images/logos/linkedin-logo.png" alt="Logo de Linkedin" />
                <img src="assets/images/logos/github-logo.png" alt="Logo de Github" />
            </div>

        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <label for="name">Nom :</label>
            <input id="name" formControlName="name" required>
            <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
              Le nom est requis.
            </div>
          
            <label for="email">Email :</label>
            <input id="email" type="email" formControlName="email" required>
            <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
              Email invalide.
            </div>
          
            <label for="message">Message :</label>
            <textarea id="message" formControlName="message" required></textarea>
            <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
              Le message est requis.
            </div>
          
            <button type="submit" [disabled]="contactForm.invalid">Envoyer</button>
          </form>
          
    </div>
</div>