<div id="my-stack">
    <h2>{{ "TITLE-STACK" | translate }}</h2>

    <div id="stack-box-front">
        <div class="title-box border-grey">
            FRONT
        </div>
        <div class="inside-box">
            <div class="stack-box stack-box-principal" id="stack-box-principal">
                <div class="oneStack" *ngFor="let stack of getFilteredStacks('principal', 'front')">
                    <img [src]="stack.image" [alt]="stack.title" />
                    <h4>{{ stack.title }}</h4>
                </div>
            </div>

            <div class="stack-box stack-box-secondary">
                <div class="oneStack oneStack-secondary" *ngFor="let stack of getFilteredStacks('secondary', 'front')">
                    <img [src]="stack.image" [alt]="stack.title" />
                    <h4>{{ stack.title }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div id="stack-box-back">
        <div class="title-box border-grey">
            BACK
        </div>
        <div class="inside-box">
            <div class="stack-box stack-box-principal" id="stack-box-back-principal">
                <div class="oneStack" *ngFor="let stack of getFilteredStacks('principal', 'back')">
                    <img [src]="stack.image" [alt]="stack.title" />
                    <h4>{{ stack.title }}</h4>
                </div>
            </div>

            <div class="stack-box stack-box-secondary">
                <div class="oneStack oneStack-secondary" *ngFor="let stack of getFilteredStacks('secondary', 'back')">
                    <img [src]="stack.image" [alt]="stack.title" />
                    <h4>{{ stack.title }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div id="stack-box-db">
        <div class="title-box border-orange">
            DB
        </div>
        <div class="inside-box">
            <div class="stack-box stack-box-principal" id="stack-box-db-principal">
                <div class="oneStack" *ngFor="let stack of getFilteredStacks('principal', 'database')">
                    <img [src]="stack.image" [alt]="stack.title" />
                    <h4>{{ stack.title }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>