<div id='my-projects'>
    <h2>Des<br/>
        <span class="letter-apart">P</span>
        <span class="letter-apart">R</span>
        <span class="letter-apart">O</span>
        <span class="letter-apart">J</span>
        <span class="letter-apart">E</span>
        <span class="letter-apart">T</span>
        <span class="letter-apart">S</span>
    </h2>

    <div id="projects-box">
        <h3>Résumé des projets</h3>
        <h4>Titre du projet</h4>
        <div id='logo-line'>
            <img src="/assets/images/icons8-react-60.png" alt="Logo de mon projet" />
            <div class="line"></div>
        </div>
        <p>Retrouvez ici le détaillé des projets</p>
    </div>

    <div id="first-project">
        <div id="first-project-image"></div>
    </div>
    <div id="second-project">
        <div id="second-project-image"></div>    </div>
    <div id="third-project">
        <h5>Pas plus ?</h5>
    </div>

</div>

