#my-projects {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(-33deg, #dcd9c1 53%, #f36531 47%);
    display: grid;
    grid-template-rows: 28% 22% 22% 22% 6%;
    grid-template-columns: 30% 15% 10% 45%;
}

h2 {
    font-size: 4.3em;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    color: #f6f6f6;
}

.letter-apart {
    position: relative;
    bottom: 0.7em;
}

#projects-box {
    background-color: #f6f6f6;
    height: 100%;
    grid-row: 2/5;
    grid-column: 0/2;
    align-self: center;
    justify-self: end;
    color: #f36531;
    width: 80%;
    height: 70%;
    padding: 15px;
    text-align: justify;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #dcd9c1 #f6f6f6;
}

h3 {
    font-size: 2em;
}

#first-project {
    grid-row: 2/3;
    grid-column: 4/5;
    display: flex;
}

#first-project-image, #second-project-image, #third-project-image {
    width: 100%;
    height: 94%;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    border-radius: 15px 0 0 15px;
    border-top: #f6f6f6 3.5px solid;
    border-bottom: #f6f6f6 3.5px solid;
    border-left: #f6f6f6 3.5px solid;
    box-sizing: border-box;
}

#first-project-image:hover, #second-project-image:hover, #third-project-image:hover {
    border-top: #f36531 3.5px solid;
    border-bottom: #f36531 3.5px solid;
    border-left: #f36531 3.5px solid;}

#first-project-image {
    background-image: url('/assets/images/bandeaux/harmonistereBandeau.png');

}

#second-project {
    grid-row: 3/4;
    grid-column: 4/5;
}

#second-project-image {
    background-image: url('/assets/images/bandeaux/quaiBandeau.png');

}

#third-project {
    grid-row: 4/5;
    grid-column: 4/5;
}

#third-project-image {
    background-image: url('/assets/images/bandeaux/otherProjectsBandeau.png');
}

#projects-box > img {
    width : 80px;
    height: auto;
}