<div id='my-projects'>
    <h2>Des<br/>
        <span class="letter-apart">P</span>
        <span class="letter-apart">R</span>
        <span class="letter-apart">O</span>
        <span class="letter-apart">J</span>
        <span class="letter-apart">E</span>
        <span class="letter-apart">T</span>
        <span class="letter-apart">S</span>
    </h2>

    <div id="projects-box">
        <p>Voici un rapide tour d'horizon des projets les plus importants pour moi.
        Etant encore junior, cette section est encore modeste mais je m'applique à améliorer les projets existants ou à travailler sur de nouveaux que je vous présenterais bientôt !
        Je suis très content du code que je déploie en ce moment, qui monte en qualité. Il est mieux factorisé, mieux commenté et plus performant.
        Je m'emploie aussi à une veille technologique hebdomadaire pour rester au courant des dernières technologies que je tente ensuite d'intégrer dans mes applications.
        </p>
    </div>

    <div id="first-project">
        <div id="first-project-image"></div>
    </div>
    <div id="second-project">
        <div id="second-project-image"></div>
    </div>

    <div id="third-project">
        <div id="third-project-image"></div>
    </div>

</div>

