<nav *ngIf="isNavbarVisible">
    <ul>
        <div class="line-navbar">
            <a href="#my-projects" appSmoothScroll><li><span class="white-circle-nav">● </span><span class="li-content-nav">{{ 'NAVBAR-PROJECTS' | translate }}</span></li></a>
            <a href="#my-stack" appSmoothScroll><li><span class="white-circle-nav">● </span><span class="li-content-nav">{{ 'NAVBAR-STACK' | translate }}</span></li></a>
        </div>
        <div class="line-navbar">
            <a href="#me-in-detail" appSmoothScroll><li><span class="white-circle-nav">● </span><span class="li-content-nav">{{ 'NAVBAR-ME' | translate }}</span></li></a>
            <a href="#contact-form" appSmoothScroll><li><span class="white-circle-nav">● </span><span class="li-content-nav">{{ 'NAVBAR-FORM' | translate }}</span></li></a>
        </div>
    </ul>
</nav>