<nav *ngIf="isNavbarVisible">
    <ul>
        <div class="line-navbar">
            <a href="#my-projects" appSmoothScroll><li><span class="white-circle-nav">● </span><span class="li-content-nav">PROJETS</span></li></a>
            <a href="#my-stack" appSmoothScroll><li><span class="white-circle-nav">● </span><span class="li-content-nav">COMPETENCES</span></li></a>
        </div>
        <div class="line-navbar">
            <a href="#me-in-detail" appSmoothScroll><li><span class="white-circle-nav">● </span><span class="li-content-nav">MOI PLUS EN DETAILS</span></li></a>
            <a href="#contact-form" appSmoothScroll><li><span class="white-circle-nav">● </span><span class="li-content-nav">ON PREND CONTACT ?</span></li></a>
        </div>
    </ul>
</nav>