<div id="me-in-detail">

    <div id="right-column-me">
        <h2>Un peu de moi</h2>
        <img src="/assets/images/photo-cv.png" alt="photo de moi"/>
    </div>

    <div id="left-column-me">
        <div id="left-column-inside">
            <div id="text-presentation-me">
                <p>Ancien projectionniste et détenteur d'un master en management, je me suis lancé dans la création de ma propre entreprise "La Cinquième Dimension".
                J'y ai pu développer mes compétences en gestion de projet, en anticipation des risques et découvert sur le terrain l'ensemble des besoins d'une organisation. <br/>
                Suite à l'arrivée du Covid, j'ai décidé de me reconvertir dans un autre secteur qui avait mon intérêt depuis plusieurs années : le développement web.
                J'ai alors commencé une formation Graduate Fullstack et me suis spécialisé pour le moment dans le développement d'applications React doublée de Node.js.<br/>
                Après un stage de plusieurs mois avec l'équipe de CodAlly, je travaille actuellement pour le site web du jeu de rôle "Harmonistère", dont la sortie est imminente.
                Aujourd'hui, je suis à la recherche d'un poste de développeur web, et en attendant, je continue de construire mes propres projets et de répondre aux commandes.
                </p>
            </div>
            <div id="adjectives-list">
                <div class="one-adjective">
                    Minutieux
                </div>
                <div class="one-adjective">
                    Organisé
                </div>
                <div class="one-adjective">
                    Apprend vite
                </div>
            </div>
        </div>
    </div>

</div>