<div id="me-in-detail">

    <div id="right-column-me">
        <h2>{{ "TITLE-ME" | translate}}</h2>
        <img src="/assets/images/photo-cv.png" alt="photo de moi"/>
    </div>

    <div id="left-column-me">
        <div id="left-column-inside">
            <div id="text-presentation-me">
                <p>
                    {{"ME-IN-DETAILS" | translate}}
                </p>
            </div>
            <div id="adjectives-list">
                <div class="one-adjective">
                    {{"ME-ADJECTIVE-ONE" | translate}}
                </div>
                <div class="one-adjective">
                    {{"ME-ADJECTIVE-TWO" | translate}}
                </div>
                <div class="one-adjective">
                    {{"ME-ADJECTIVE-THREE" | translate}}
                </div>
            </div>
        </div>
    </div>

</div>