@font-face {
    font-family: 'Rushford';
    src: url('/assets/fonts/Rushfordclean-rgz89.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --orange-color: #f36531;
    --grey-color: #dcd9c1;
    --white-color: #f6f6f6;
    --title-color: #241f1f;
    --button-color: #102a43;
    --button-hover-color: #20527D;
}

.dark-theme {
    --orange-color: #102a43;
    --grey-color: #718096;
    --white-color: #dcd9c1;
    --title-color: #dcd9c1;
    --button-color: #f36531;
    --button-hover-color: #a84623;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Rushford', sans-serif;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.summary-project {
    white-space: pre-line;
  }